<div class="box-content">
  <h4 class="page-header">Basic select</h4>
  <div class="row form-group">

    <div class="col-sm-2">包裝名稱</div>
    <div class="col-sm-2">專案</div>
    <div class="col-sm-2">APK類別</div>
    <div class="col-sm-2">測試結果</div>
    <div class="col-sm-2">複測結果</div>
    <div class="col-sm-2"></div>

  </div>

  <div class="row form-group">

  <%= form_for @app, :url => { :controller => 'querys', :action => 'show' } do |f| %>

        <div class="col-sm-2">
            <%=f.select(:AppPackageName, @pkg.each { |value| [value] } ,{},{ :class => 'form-control' })%>
        </div>
        <div class="col-sm-2">
          <%=f.select(:AppName, @project.each { |value| [value] },{},{ :class => 'form-control' })%>
        </div>

        <div class="col-sm-2"><%=f.select(:AppClass, @class.each { |value| [value] },{},{ :class => 'form-control' })%></div>
        <div class="col-sm-2"><%=f.select(:ApkStatus, @result.each { |value| [value] },{},{ :class => 'form-control' })%></div>
        <div class="col-sm-2"><%=f.select(:Tester, @mautal_result.each { |value| [value] },{},{ :class => 'form-control' })%></div>

        <div class="col-sm-12">
          <div class="col-sm-1">
            <%= f.submit "Query" ,{:class=> 'form-control'}%>
          </div>
        </div>
  <% end %>
  </div>

</div>



