<td><%= app.AppNumber %> <%= link_to image_tag("gp4.png"  , :width => 20 , :height => 20) , app.AppLink %></td>
<td>
  <span class="label label-warning"><%= app.AppClass %></span>
  <span class="label label-info"> <%= app.AppCategory%></span>
</td>
<td>

  <!--<div class="label label-success"><%= app.AppPackageName %></div>-->
  <kbd> <%= app.AppPackageName %></kbd>
  <div><%= app.AppName %></div>
</td>
<td>
  <kbd>  <%= app.AppVersion %></kbd>

</td>
<td><%= app.AppNativeCode %></td>
<td><%= app.ApkResult %></td>
<td><%= app.AppInstallResult%></td>
<td><%= app.AppLaunchResult %></td>
<td><%= app.AppMonkeyResult %></td>
<td><%= app.Tester %></td>
<td><%= app.TesterResult %></td>
