


    <div class="row">

        <div class="row">
          <div class="col-xs-4">總測試數<b><%= @testrun.TestRun_TotalAppsCount%></b></div>

          <div class="col-xs-4">總失敗數<b><%= @testrun.TestRun_TotalFailCount%></b></div>

          <div class="col-xs-4">成功率<b><%=  @testrun.TestRun_PassRate%></b></div>
        </div>
        <div class="row">
          <div class="col-xs-4">總安裝失敗數<b><%= @testrun.TestRun_InstallFailCount %></b></div>
          <div class="col-xs-4">總啟動失敗數<b><%= @testrun.TestRun_LaunchRunningFail %></b></div>
          <div class="col-xs-4">總猴子失敗數<b><%= @testrun.TestRun_MonkeyRunningFail %></b></div>
        </div>




    </div>


