<!DOCTYPE html>
<html>
<head>
  <title>SoftwareIot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div class="col-md-12">
        <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav">

            <li class="active"><%=  link_to '測試總頁' , testruns_path %></li>
            <li><%=  link_to '測試結果查詢' , :controller=> 'querys' ,:action=> 'index' %></li>
            <li><%=  link_to '儀表板' , :controller=> 'boards' ,:action=> 'hello' %></li>
          </ul>
        </nav>
        
          <%= yield %>
          
        </div>
      




</body>
</html>
