<!DOCTYPE html>
<html>
<head>
  <title>SoftwareIot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

        <nav class="navbar navbar-inverse navbar-static-top">
          <ul class="nav navbar-nav">

            <li><%=  link_to '測試總頁' , testruns_path %></li>
            <li><%=  link_to '測試結果查詢' , :controller=> 'querys' ,:action=> 'index' %></li>
            <li><%=  link_to '儀表板' %></li>
          </ul>
        </nav>
        <div class="col-md-12">
          <%= yield %>
        </div>
      




</body>
</html>
